<div class="hero-unit">
	<h1>Welcome to Ameyzing!</h1>
	<p>
		You've found the home page for the 
		<%= link_to "Christina's Life With Damien", "http://www.everytrail.com/best/hiking-los-angeles-california" %>
		application.
	</p>
	<p>
		<%= link_to "ENTER A LIFE OF LOVE WITH ME!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>

