<div class="footer">
	<small>
		<%= link_to "Ameyzing", "https://www.facebook.com/photo.php?fbid=614523893429&set=a.521855791049.2025064.139800460&type=1&theater" %>
		by <%= link_to "Damien Amey", "http://mashable.com/2011/04/06/groopease/" %>
	<small>
</div>